[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group IP
	owner = group IP-ENGR-REVIEW
	owner = group user/WBL-Training (WhiteboxHub)
[access "refs/for/refs/*"]
	read = group IP
	read = group IP-ENGR-REVIEW
	read = group user/WBL-Training (WhiteboxHub)
	push = group user/WBL-Training (WhiteboxHub)
	label-Code-Review = -2..+2 group IP
	label-Code-Review = -2..+2 group IP-ENGR-REVIEW
	label-Code-Review = -2..+2 group user/WBL-Training (WhiteboxHub)
	label-Verified = -1..+1 group IP
	label-Verified = -1..+1 group IP-ENGR-REVIEW
	label-Verified = -1..+1 group user/WBL-Training (WhiteboxHub)
	rebase = group IP
	rebase = group user/WBL-Training (WhiteboxHub)
	removeReviewer = group IP
	removeReviewer = group user/WBL-Training (WhiteboxHub)
	submit = group IP
	submit = group IP-ENGR-REVIEW
	submit = group user/WBL-Training (WhiteboxHub)
[access "refs/heads/*"]
	read = group user/WBL-Training (WhiteboxHub)
	create = group user/WBL-Training (WhiteboxHub)
	push = +force group user/WBL-Training (WhiteboxHub)
	pushMerge = group user/WBL-Training (WhiteboxHub)
[access "refs/tags/*"]
	push = +force group user/WBL-Training (WhiteboxHub)
	pushTag = group user/WBL-Training (WhiteboxHub)
	pushSignedTag = group user/WBL-Training (WhiteboxHub)
